@import url('https://fonts.googleapis.com/css?family=Barrio|Josefin+Slab:700|Lobster+Two|Poiret+One|Source+Sans+Pro:300,300i,400,400i,900,900i');

h1,h2,h3,h4,p {
	margin: 0;
	padding: 0;
}

#FlypJournal .App {
	font-family: 'Source Sans Pro', sans-serif;
}

#FlypJournal, 
#FlypJournal > *, 
#FlypJournal .FrontPageStream .FrontPageStreamItems {
	width:100vw;
	position: relative;
	height: 100%;
}

#FlypJournal .FrontPageStream {
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	height:100%;
}


/*-----  Globale Styles für FrontPageLayout------*/
#FlypJournal .FrontPageStream .FrontPageStreamItems > * {
	display: inline-block;
	position: relative;
	width:100vw;
	height:100%;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
#FlypJournal .FrontPageStream .FrontPageStreamItems > div > .Message,
#FlypJournal .FrontPageStream .FrontPageStreamItems > div > .Message > .FrontPageLayout {
	height: 100%;
	width:100%;
}
#FlypJournal .FrontPageStream .FrontPageStreamItems > div > .Message > .FrontPageLayout > .FlypImage {
	height: 100%;
	width:100%;
	position: absolute;
	overflow:hidden;
}
#FlypJournal .FrontPageStream .FrontPageStreamItems > div > .Message > .FrontPageLayout > h2,
#FlypJournal .FrontPageStream .FrontPageStreamItems > div > .Message > .FrontPageLayout > p {
	position: absolute;
	z-index: 100;
	box-sizing:border-box;
}



/*-----  FrontPageDesign - Style1 -------*/
#FlypJournal .FrontPageStream .FrontPageStreamItems > div.Style1 > .Message > .FrontPageLayout  {
	background-color: #c80c41;
}
#FlypJournal .FrontPageStream .FrontPageStreamItems > div.Style1 > .Message > .FrontPageLayout  h2 {
	font-family: 'Josefin Slab', serif;
	font-size: 3em;
	text-align: center;
	margin: 5%;
	padding:10%;
	border-radius: 50%;
	border-top-left-radius: 0;
	background-color: #3b6eb1;
	color:#fff;
	hyphens: auto;
}
#FlypJournal .FrontPageStream .FrontPageStreamItems > div.Style1 > .Message > .FrontPageLayout  p {
	background-color: #3b6eb1;
	background-color:rgba(59,110,177,0.6);
	font-size: 1.1em;
	padding:3% 5%;
	width: 100%; 
	bottom: 0;		
	color:#fff;
}



/*-----  FrontPageDesign - Style2 ------*/
#FlypJournal .FrontPageStream .FrontPageStreamItems > div.Style2 > .Message > .FrontPageLayout {
	background-color: #c80c41;
}
#FlypJournal .FrontPageStream .FrontPageStreamItems > div.Style2 > .Message > .FrontPageLayout h2 {
	background-color: #f032f0;	/* rgb(240,50,240) */
	font-family: 'Barrio', cursive;
	font-size: 3em;
	margin: 10%;
	margin-top: 40px;
	padding:2%;	
	color:#fff;
	transform:rotate(-10deg);
	width: calc(100% - 5%); 
	hyphens: auto;	
}
#FlypJournal .FrontPageStream .FrontPageStreamItems > div.Style2 > .Message > .FrontPageLayout p {
	background-color: #f032f0;	/* rgb(240,50,240) */
	font-size: 1.1em;
	padding:2%;
	margin: 10%;
	color:#fff;
	width: 100%;
	padding-right: 10%; 	
	transform:rotate(-10deg);
	bottom: 8%;
	box-sizing: border-box;
}





/*-----  Globales css für den Article Stream ------*/
#FlypJournal .ArticleStream  {
	min-height:100%;
	padding: 10% 5%;
	box-sizing: border-box;
	background-color:#fff;
	color:#333;
}
#FlypJournal .ArticleStream > div > .Message > .ArticleParagraphLayout > h3 {
	font-size: 2em;
	font-weight:400;
	text-transform: uppercase;
	margin-bottom: 5%;
}
#FlypJournal .ArticleStream > div > .Message > .ArticleParagraphLayout > p {
	margin-bottom: 3%;
	
}
#FlypJournal .ArticleStream > div > .Message > .ArticleImageLayout > .FlypImage {
	overflow:hidden;
	height: 40vh;
	width:100%;
	margin-bottom: 3%;
}
#FlypJournal .ArticleStream > div > .Message > .ArticleImageLayout > h3 {
	font-size: 1.2em;
	font-weight:400;
	text-transform: uppercase;
	margin-bottom: 3%;
}
#FlypJournal .ArticleStream > div > .Message > .ArticleImageLayout > p {
	font-size: 0.85em;
	font-weight: 300;
	font-style: italic;
	margin-top: -2%;
	margin-bottom: 3%;
}







.JosefinSlab {
	font-family: 'Josefin Slab', serif;
}
.Barrio {
	font-family: 'Barrio', cursive;
}
.LobsterTwo {
	font-family: 'Lobster Two', cursive;
}
.PoiretOne {
	font-family: 'Poiret One', cursive;
}
.Orange {
	color:#ff5100;
}
.OrangeBG {
	background-color: rgba(255,143,40,0.8);
}
