#flypjournal, #flypjournal > *, #flypjournal .FrontPageStream {
  text-align: center;
  width : 320px;
  position: relative;
  height: 100%;
}

#flypjournal .App {
	overflow-x: scroll;
	overflow-y: hidden;
}

#flypjournal .FrontPageStream {
	width: 10000px;
	text-align: left;
}


#flypjournal .FrontPageStream > * {
	margin-top: 40px;
	display: inline-block;
	position: relative;
	width:320px;
	height:calc(100% - 40px);
	background:#cccc33;
	border: 2px solid #3333cc;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: scroll;
}	

#flypjournal .FrontPageStream > * > .flyp-message {
	height: 100%;
}
#flypjournal .FrontPageStream > * > .flyp-message > div {
	height: 100%;
}
#flypjournal .FrontPageStream > * > .flyp-message > div > img {
	height: 100%;
}

#flypjournal .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

#flypjournal .App-header {
	position:fixed;
  background-color: #222;
  height: 40px;
  width: 320px;
  color: white;
}

#flypjournal .App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
