@import url('https://fonts.googleapis.com/css?family=Barrio|Josefin+Slab:700|Lobster+Two|Poiret+One|Source+Sans+Pro:300,300i,400,400i,900,900i');

h1,h2,h3,h4,p {
	margin: 0;
	padding: 0;
}

#FlypJournal .App {
/*	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;*/
	font-family: 'Source Sans Pro', sans-serif;
}

#FlypJournal, 
#FlypJournal > *, 
#FlypJournal .FrontPageStream {
	/* text-align: left; */
  width:100vw;
  position: relative;
  height: 100%;
}

#Hans {
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	height:100%;
}

/*-----  Globale Styles für FrontPageStream------*/
#FlypJournal .FrontPageStream > * {
	display: inline-block;
	position: relative;
	width:100vw;
	height:100%;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}	
#FlypJournal .FrontPageStream > div > .Message {
	height: 100%;
	width:100%;
}
#FlypJournal .FrontPageStream > div > .Message > div {
	height: 100%;
	width:100%;
}
#FlypJournal .FrontPageStream > div > .Message > div > div.FlypImage {
	height: 100%;
	width:100%;
	position: absolute;
	overflow:hidden;
}
#FlypJournal .FrontPageStream > div > .Message > div > h2 {
	position: absolute;
	z-index: 100;
	box-sizing:border-box;
}
#FlypJournal .FrontPageStream > div > .Message > div > p {
	position: absolute;
	z-index: 100;
}



/*-----  Globales css für den Article Stream ------*/
#FlypJournal .ArticleStream {
	min-height:100%;
}
#FlypJournal .ArticleStream  {
	padding: 0 5%;
	box-sizing: border-box;
}

#FlypJournal .ArticleStream > div > .Message > .ArticleParagraphLayout > h3 {
	/*font-size: 2em;
	font-weight:400;
	text-transform: uppercase;*/
}


#FlypJournal .ArticleStream > div > .Message > div.ArticleImageLayout > div.FlypImage {
  overflow:hidden;
  height: 300px;
  width:100%;
}
#FlypJournal .ArticleStream > div > .Message > div.ArticleImageLayout > p {
  text-align:right;
}

#FlypJournal .ArticleStream  {
	background-color:#fff;
	padding:5%;
}
#FlypJournal .ArticleStream h3  {
	font-size: 2em;
	font-weight:400;
	text-transform: uppercase;
}



/*-----  Style1 - Design ------*/
#FlypJournal .Style1 .FrontPageLayout  {
	background-color: #c80c41;
}
#FlypJournal .Style1 .FrontPageLayout .FlypImage {}
#FlypJournal .Style1 .FrontPageLayout  h2 {
	font-family: 'Josefin Slab', serif;
	font-size: 3em;
	text-align: center;
	margin: 5%;
	padding:10%;
	border-radius: 50%;
	border-top-left-radius: 0;
	background-color: #3b6eb1;
  color:#fff;
  hyphens: auto;
}
#FlypJournal .Style1 .FrontPageLayout  p {
  background-color: #3b6eb1;
  background-color:rgba(59,110,177,0.6);
  font-size: 1.1em;
	padding:3% 5%;
	width: 100%; 
	bottom: 0;		
	color:#fff;
	box-sizing: border-box;
}



/*-----  Style2 - Design ------*/
#FlypJournal .Style2 .FrontPageLayout {
	background-color: #c80c41;
}
#FlypJournal .Style2 .FrontPageLayout .FlypImage {}
#FlypJournal .Style2 .FrontPageLayout h2 {
	font-family: 'Barrio', cursive;
	font-size: 3em;
	text-align: left;
	margin: 10%;
	margin-top: 40px;
	padding:2%;
    background-color: rgb(240,50,240);	
    color:#fff;
    transform:rotate(-10deg);
    width: calc(100% - 5%); 
    hyphens: auto;	
}
#FlypJournal .Style2 .FrontPageLayout p {
	background-color: rgb(240,50,240);
	font-size: 1.1em;
	padding:2%;
	margin: 10%;
	color:#fff;
	width: 100%;
	padding-right: 10%; 	
	transform:rotate(-10deg);
	bottom: 8%;
	box-sizing: border-box;
}



.JosefinSlab {
	font-family: 'Josefin Slab', serif;
}
.Barrio {
	font-family: 'Barrio', cursive;
}
.LobsterTwo {
	font-family: 'Lobster Two', cursive;
}
.PoiretOne {
	font-family: 'Poiret One', cursive;
}
.Orange {
	color:#ff5100;
}
.OrangeBG {
	background-color: rgba(255,143,40,0.8);
}
